/* GLOBAL STYLE */
html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

/* Reset styles  start*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol {
  color: var(--primary-fontColor);
  margin: 0;
  font-weight: normal;
}

ol,
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: #000;
  color: #ffffff;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  text-align: center;
}

/* Main Styles */
body {
  /* background-color: var(--primary-color); */
  margin: 0;
  font-size: var(--font-text);
  line-height: 1.4;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3,
h4,
h5,
h6 {
  font-size: var(--h3-size);
}

p {
  font-size: var(--bodytext-size);
}

li {
  font-size: var(--bodytext-size);
}

a {
  color: var(--primary-fontColor);
  font-size: var(--bodytext-size);
}

/* ==== Nav start ==== */
.header {
  background-color: var(--complement-color);
  position: sticky;
  top: 0;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  margin: 0 1rem;
}

.main-nav li {
  display: inline;
}

.main-nav li a {
  padding: 1rem;
  margin: -1rem;
}

#mob-menu button {
  padding: 1rem;
  margin: -1rem;
  background-color: transparent;
}

.menu-col1,
.menu-col2 {
  display: none;
}

.menu-col1 li {
  margin-right: 2rem;
}

.menu-col2 li {
  margin-left: 2rem;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  background-color: tomato;
}

.footer-col1,
.footer-col2 {
  margin: 1rem;
  width: 50%;
}

/* Media queries */
@media (min-width: 760px) {
  #mob-menu {
    display: none;
  }

  .menu-col1,
  .menu-col2 {
    display: initial;
  }
}
