/* GLOBAL STYLE */
html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

/* Reset styles  start*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol {
  margin: 0;
  font-weight: normal;
  font-family: var(--primary-font);
}

ol,
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  display: block;
  border: none;
  padding: 1.5rem;
  margin: 3rem auto;
  text-decoration: none;
  background: var(--primary-color);
  color: var(--font-text);
  font-family: inherit;
  font-size: var(--bodytext-size);
  cursor: pointer;
  text-align: center;
}

/* Main Styles */
body {
  background-color: var(--secondary-color);
  margin: 0;
  font-size: var(--font-text);
  line-height: 1.4;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3,
h4,
h5,
h6 {
  font-size: var(--h3-size);
}

p {
  font-size: var(--bodytext-size);
}

li {
  font-size: var(--bodytext-size);
}

a {
  color: var(--primary-fontColor);
  font-size: var(--bodytext-size);
}

img {
  width: 100%;
  height: auto;
}

a:hover {
  cursor: pointer;
}

/* ==== Nav start ==== */
.header {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 100;
}

.main-nav {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 8rem;
  margin: 0 3rem;
}

#menu-logo {
  margin-right: 2rem;
}

.main-nav li {
  display: inline;
}

.main-nav li a {
  padding: 1rem;
  margin: -1rem;
}

#mob-menu button {
  padding: 1rem;
  margin: -1rem;
  background-color: transparent;
}

.menu-col1,
.menu-col2 {
  display: none;
}

.menu-col1 li {
  margin-right: 2rem;
}

.menu-col2 li {
  margin-left: 2rem;
}

/* Module styles */

#wrapper {
  display: flex;
  justify-content: center;
}

.info-listing {
  display: grid;
  grid-column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem 1rem;
}

.info-card {
  background-color: #ececec;
}

.info-card-text {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  background-color: var(--primary-color);
}

.footer-col1,
.footer-col2 {
  margin: 3rem;
  width: 50%;
}

/* MAIN */
main {
  margin-bottom: 6rem;
}

/* Media queries */
@media (min-width: 760px) {
  #mob-menu {
    display: none;
  }

  .info-listing {
    display: grid;
    grid-column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem 3rem;
  }

  .menu-col1,
  .menu-col2 {
    display: initial;
  }
}
