.presentation {
  display: block;
  margin: auto;
}

.character-text {
  margin: 1rem 2rem;
}

.two-col {
  width: 70%;
}

.character-details {
  background-color: #fff;
}

.page-heading {
  color: var(--primary-font-color);
}

/* Media queries */
@media (min-width: 760px) {
  #mob-menu {
    display: none;
  }
  .character-image {
    max-height: 50%;
  }
  .presentation {
    display: flex;
    justify-content: center;
    max-width: 80%;
    /* max-height: 50vh; */
    margin: 6rem auto;
  }
  .menu-col1,
  .menu-col2 {
    display: initial;
  }
}
