.character-image {
}

/* Media queries */
@media (min-width: 760px) {
  #mob-menu {
    display: none;
  }
  .character-image {
    max-width: 80rem;
    /* height: auto; */
    margin-right: 3rem;
  }
  .presentation {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
  }
  .menu-col1,
  .menu-col2 {
    display: initial;
  }
}
